[submodule "ansible/roles/bennojoy.nginx"]
	path = ansible/roles/bennojoy.nginx
	url = https://github.com/bennojoy/nginx.git
[submodule "ansible/roles/simkimsia.ansible-percona"]
	path = ansible/roles/simkimsia.ansible-percona
	url = https://github.com/simkimsia/ansible-percona.git
