---
  - name: Deploys the whole software stack for a CakePHP application
    hosts: development
    user: vagrant
    sudo: yes

    vars:
      - root_password: 123456789mysql
      - create_app_db: false
      - bind_address: 127.0.0.1

    vars_prompt:

    - name: "cakephp_version"
      prompt: "What version of CakePHP do you want to deploy? (2 or 3)?"
      default: "3"

    roles:
      - system
      - php
      - overdrive3000.ansible-percona

